.index {

    main {
        h1 {
            color: white;
            background-color: black;
        }

        .primeraSeccion {
            padding: 1rem;
            background-color: gray;

            p {
                text-align: center;
                color: yellow;
            }
        }
    }
}

.segundaSeccion{
    font-family: sans-serif;
    color: $textoPrincipal;
    background-color: $fondoSecundario;
}

